<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingdianjichi.mapper.BloggerArticleDao">

    <resultMap type="com.jingdianjichi.entity.BloggerArticleEntity" id="BloggerArticleMap">
        <result property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="created" column="created"/>
        <result property="lastModified" column="last_modified"/>
    </resultMap>
    </mapper>
